* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "SuisseIntl","Helvetica","Arial",sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #3F3F48;
    min-height: 100vh;
    background-color: #f2f2f2;
    position: relative;
    font-size: .8rem;
    line-height: 1.5;
}

.main-background {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f2f2f2;
    min-height: 100vh
}

.title {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px;
    grid-auto-rows: auto;
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    min-height: 300px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 1px 20px rgb(0 27 58 / 5%);
}

.grid-row {
    grid-column: 1 / -1;
}

.menu-row {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.message-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px 20px;
    text-align: center;
}

.select-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.erc20-list {
    border-style: none;
    border-radius: 4px;
    font-size: .70rem;
    text-align: right;
    width: 125px;
    cursor: pointer;
}

.erc20-list:hover {
    background-color: #f2f2f2;
}

.quote-info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: .5rem;
    padding: 20px;
    background-color: #fDfDfD;
    border-top: 1px;
    border-top-style: groove;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.token-from-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.token-to-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.estimated-gas-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.btn-swapping {
    color: #87888C;
}

.hide {
    display: none;
}